@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    margin: 0;
    padding: 0;
}

footer{
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.mainContainer{
    height: 100vh;
}

.left{
    width: 50%;
    height: 97%;
    float: left;
    text-align: center;
}

.right{
  width: 50%;
  height: 97%;
  float: right;
}
