@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    margin: 0;
    padding: 0;
}

footer{
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.mainContainer{
    height: 100vh;
}

.left{
    width: 50%;
    height: 97%;
    float: left;
    text-align: center;
}

.mascot{
  margin-top: 15%;
}

.right{
  width: 50%;
  height: 97%;
  float: right;
}

.media{
  height: 80%;
  text-align: center;
}

.mediaImage{
  margin-top: 4%;
  height: 100%;
  width: 80%;
}

.facts{
  height: 20%;
  text-align: center;
  font-size: 3em;
  padding: 4%;
}
